body {
    margin: 0;
    padding: 0;
}

/* .navbar {
    margin-bottom: 0;
    padding: 10px 0;
} */

/* body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
} */

/* .container {
    margin-top: 70px;
} */
/* .container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
} */
.table {
    margin-top: 20px;
}
.btn {
    margin: 2px;
}
.pagination-btns {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.editable {
    background-color: #fff !important;
    border: 1px solid #ccc;
    padding: 5px;
}
input {
    width: 100%;
    border: none;
    background: transparent;
    text-align: center;
}
.add-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.add-container input {
    flex: 1;
}
.user-id-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}